* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.calculator_area {
  background-color: paleturquoise;
  width: 23%;
  margin: 100px auto;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
}
.title {
  text-align: center;
  color: purple;
  margin-bottom: 10px;
  font-size: 30px;
}
.calculator_items {
  width: 302px;
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.inputField {
  width: 100%;
  margin-bottom: 8px;
  padding: 11px 22px;
  font-size: 23px;
  border-radius: 5px;
  border: 0;
  outline: 0;
  background-color: black;
  color: white;
}
.item {
  flex: 1;
  padding: 0 20px;
  width: 100%;
  margin: 3px 10px;
}
.item button {
  padding: 12px 23px;
  font-size: 20px;
  border-radius: 5px;
}
